fastapi
email-validator
uvicorn[standard]
sqlalchemy
psycopg2-binary==2.9.12
pydantic
pydantic-settings
passlib[bcrypt]
python-jose[cryptography]
python-multipart
celery
redis
pandas
numpy
scikit-learn
xgboost
torch --index-url https://download.pytorch.org/whl/cpu
openpyxl==3.1.2
pytest==7.4.3
httpx==0.25.1
